.carousel-item{
    padding: 20px;
    padding-left: 100px;
    padding-right: 200px;
}
.bno{
    background-color: #fa8231;
    color: aliceblue;
}
.bnt{
    background-color: #f53d46;
    color: aliceblue;
}