/*.container{
    border: black solid 2px;
}*/

.carousel-item{
    padding: 20px;
    padding-left: 100px;
    padding-right: 200px;
}
.bno{
    background-color: #578d5e;
    color: aliceblue;
}
.bnt{
    background-color: #666681;
    color: aliceblue;
}
.catagories h1{
    color:white;
    font-size: medium;
}

.dress, .coming{
    margin-top: 30px;
    padding: 20px;
    border-radius: 7px;
    background-image:url(img/cat.jpeg);
}

.bst{
    padding-top: 40px;
}

.cont{
    margin-top: 40px;
    border-radius: 7px;
    color: blanchedalmond;
    height: 150px;
    background-color: #454745;
}

footer{
    margin-top: 20px;
    text-align: center;
}