/*.container{
    border: black solid 2px;
}*/

.carousel-item{
    padding: 20px;
    padding-left: 100px;
    padding-right: 200px;
}
.bno{
    background-color: #578d5e;
    color: aliceblue;
}
.bnt{
    background-color: #666681;
    color: aliceblue;
}

.bst{
    padding-top: 40px;
}

.cont{
    border: solid black 1;
    margin-top: 40px;
    border-radius: 7px;
    color: blanchedalmond;
    height: 170px;
    background-color: #578d5e;
    text-align: center;
}

footer{
    margin-top: 20px;
    text-align: center;
}